<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Cat Feeder</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/js/jquery-2.0.3.min.js"></script>
    <script>

    $(function () {

    	$("#feed").on("click", function (event) {
    		event.preventDefault();
    		$.get("/feed", function () {
    			$("#feed").text("Fed :-)");
    		});
    	});

    	$("#tweet").on("click", function (event) {
    		event.preventDefault();
    		$.get("/tweet", function () {
    			$("#tweet").text("Sent Tweet...");
    		});
    	});

    });

    </script>

  </head>
  <body>
    
	<div class="container">
	    <div class="row">
	    	
		    <div class="col-md-12">
				<h1>Cat Feeder</h1>
				<p>Message: <%= message %></p>
				<button class="btn btn-primary" id="feed">Feed!</button>
				<button class="btn btn-info" id="tweet">Send Tweet</button>
		    </div>

	    </div>
	</div>

  </body>
</html>